.insert {
  display: block
}

.alter:after {color: red;content: 'example'}

.delete {
  display: block;;
}
.delete:before {
  content: "";
}
.wrong-order {
  background-color: slategray;
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 1.5rem;
  grid-gap: 16px;
  order: 1;
  pointer-events: all;
  position: relative;
  transition: opacity 300ms ease;
  width: 320px;
}
.correct-order {
  width: 10px;
  height: 10px;
}
/* Comment */
.empty {
}
.unknown { top: unknown; }
.colors {
  color: rgb(0 0 0 / 0.5);
  text-shadow: 0 0 3px rgba(var(--some-red-var), .5);
  background: rgb(255, 255, 255);
  opacity: 50%;
}
